<%- include('../../partials/header.ejs')%>
<%- include('../../partials/navbar.ejs')%>

<div class="container">
    <hr>
    <h2>My References</h2>
    <a class="btn btn-primary" href="/admin/references/new">Create new reference</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Link</th>
                <th>Actions</th>
            </tr>
        </thead>   
        <tbody>   
            <% references.forEach(reference => { %>
                <tr>
                    <td><%= reference.id %></td>
                    <td><%= reference.title %></td>
                    <td><%= reference.author %></td>
                    <td><%= reference.link %></td>
                    <td>
                        <a href="/admin/references/edit/<%= reference.id %>" class="btn btn-warning">Editar</a>
                        <form method="POST" action="/references/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
                            <input type="hidden" name="id" value="<%= reference.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>   
            <% }) %> 
        </tbody>
    </table>
</div>

<%- include ('../../partials/footer.ejs')%>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Are you sure you want to delete this reference?")
        if(decision){
            form.submit()
        } 
    }
</script>
